<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   design_default
 * @package    AW_AlliedWallet
 * @copyright  Copyright (c) 2008 Allied Wallet (http://www.alliedwallet.com)
 */
-->
<config>
    <modules>
        <AW_AlliedWallet>
            <version>0.9.0</version>
        </AW_AlliedWallet>
    </modules>
    <global>
        <models>
            <alliedwallet>
                <class>AW_AlliedWallet_Model</class>
            </alliedwallet>
        </models>
        <helpers>
	      <alliedwallet>
            <class>AW_AlliedWallet_Helper</class>
		  </alliedwallet>
	    </helpers>
        <resources>
            <alliedwallet_setup>
                <setup>
                    <module>AW_AlliedWallet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alliedwallet_setup>
            <alliedwallet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alliedwallet_write>
            <alliedwallet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alliedwallet_read>
        </resources>
        <blocks>
            <alliedwallet><class>AW_AlliedWallet_Block</class></alliedwallet>
        </blocks>
        <payment>
        	<url>https://www.alliedwallet.com/</url>
            <transaction>
                <modes>
                    <LIVE>
                        <code>live</code>
                        <name>Live mode</name>
                    </LIVE>
                    <TEST>
                    	<code>test</code>
                    	<name>Test mode</name>
                    </TEST>
                </modes>
            </transaction>
        </payment>
    </global>
    <frontend>
        <routers>
            <alliedwallet>
                <use>standard</use>
                <args>
                    <module>AW_AlliedWallet</module>
                    <frontName>alliedwallet</frontName>
                </args>
            </alliedwallet>
        </routers>
        <translate>
            <modules>
                <AW_AlliedWallet>
                    <files>
                        <default>AW_AlliedWallet.csv</default>
                    </files>
                </AW_AlliedWallet>
            </modules>
        </translate>
        <layout>
            <updates>
                <alliedwallet>
                    <file>alliedwallet.xml</file>
                </alliedwallet>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <AW_AlliedWallet>
                    <files>
                        <default>AW_AlliedWallet.csv</default>
                    </files>
                </AW_AlliedWallet>
            </modules>
        </translate>
    </adminhtml>
	<default>
        <payment>        
            <alliedwallet_cc>
                <active>0</active>
                <model>alliedwallet/cc</model>
                <order_status>1</order_status>
                <title>Credit Card (AlliedWallet)</title>
                <allowspecific>0</allowspecific>
                <request_type>authorize</request_type>
				<transaction_mode>test</transaction_mode>
				<fix_contact>1</fix_contact>
				<hide_contact>0</hide_contact>
            </alliedwallet_cc>
        </payment>
    </default> 
</config>
